<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div id="app">
            <button @click="change()">click</button>  
               <ul>
                   <li v-for="val in list">{{val}}</li>
               </ul>
               <div v-for="(val,key) in obj">{{key}}:{{val}}</div>
            </div>
            <script src="vue.js"></script>

            <script>
            let vm = new Vue({
                el:"#app",
                data:{
                list:[1,2,3,4,5],
                obj:{
                    name:'zs'
                }
                },
                methods:{
                    change(){
                        // 
                        // Vue.set(this.list,1,8);
                        Vue.set(this.obj,'age',60);
                    }
                }
            });
            
            
            
            </script>
</body>
</html>